@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;1,200&display=swap');


* {
    margin: 0;
}

body {
    color: #e0e0e0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: #1e1e1e;
}

a img {
    display: flex;
    width: 9em;
    height: auto;
    padding: 0.7em;
    cursor: pointer;
    transition: 1s ease-in-out;
}

a img:hover {
    transform: rotateY(360deg);
}

main img {
    width: 50vw;
}


header {
    background-color: rgb(47, 47, 47);
    display: flex;
    padding: 1em;
    align-content: flex-start;
}

header nav {
    display: flex;
    padding: 1em;
    margin-left: 45em;
}

header ul {
    list-style: none;
    display: flex;
}

header li a {
    text-decoration: none;
    color: #ffffff;
    margin: 1em;
    font-weight: bold;
}

header li a:hover {
    color: chartreuse;
}

h1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin: 3em;
}

.articles section {
    background-color: rgb(47, 47, 47);
    padding: 2em;
}

.articles img {
    width: 90%;
}

.articles h2,
p {
    margin-top: 0.5em;
}

.articles p {
    margin-bottom: 2em;
}

.articles a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 2em;
    border-style: solid;
    padding: 0.5em 1em 0.5em 1em;
    font-weight: bold;
    border-color: chartreuse;
}

.articles a:hover {
    color: rgb(0, 0, 0);
    background-color: chartreuse;
}

article {
    background-color: rgb(47, 47, 47);
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 1em;
    padding: 2em;
}

article video {
    width: 50vw;
}

article p {
    margin-bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
}

article p:nth-of-type(1) {
    font-weight: bold;
}

article p:nth-last-of-type(1) {
    font-style: oblique;
}

article a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 2em;
    border-style: solid;
    padding: 0.5em 1em 0.5em 1em;
    font-weight: bold;
    border-color: chartreuse;
}

article a:hover {
    color: rgb(0, 0, 0);
    background-color: chartreuse;
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 3em;
}

.home section h1 {
    color: chartreuse;
}

.home section:nth-of-type(1) {
    text-align: left;
    margin-left: 7em;
    padding-right: 5em;
}

.home section:nth-of-type(2) {
    margin-top: 1em;
    margin-right: 5em;
}


.home img {
    width: 40vw;
    border-radius: 2em;
}

.home p:nth-last-of-type(1) {
    margin-bottom: 2em;
}

.home a {
    text-decoration: none;
    margin-right: 1em;
    color: #ffffff;
    border-radius: 3em;
    border-style: solid;
    padding: 0.5em 1em 0.5em 1em;
    border-color: chartreuse;
    font-weight: bold;
}

.home a:hover {
    color: chartreuse;
    border-color: #ffffff;
}

.home a:nth-last-of-type(1) {
    background-color: chartreuse;
    color: #111111;
}

.home a:nth-last-of-type(1):hover {
    background-color: #111111;
    border-color: #111111;
    color: chartreuse;
}

footer {
    margin-top: 15em;
    display: flex;
    justify-content: center;
    padding: 2em;
    background-color: black;
}

footer p {
    margin-left: 2em;
    margin-right: 2em;
    font-weight: bold;
    margin-top: 0em;
}

footer p:hover {
    animation: colorChange 2s infinite;
}

@keyframes colorChange {
    25% {
        color: chartreuse;
    }

    50% {
        color: aqua;
    }

    75% {
        color: darkcyan;
    }

    100% {
        color: cornflowerblue;
    }
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    color: rgb(211, 211, 211);
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 20em;
    margin-right: 20em;
    margin-bottom: 1em;
}

form input {
    padding: 0.5em;
    background-color: #111111;
    border-style: none;
    margin: 0.1em;
    color: #ffffff;
}

form input:nth-last-of-type(1) {
    padding-bottom: 15em;
}

form input:focus {
    color: chartreuse;
}

section button {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-radius: 3em;
    border-style: solid;
    padding: 0.5em 1em 0.5em 1em;
    border-color: chartreuse;
    background-color: #1e1e1e;
    color: #ffffff;
}

section button:hover {
    border-color: #ffffff;
    color: chartreuse;
    cursor: pointer;
}
