@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,600;1,200&display=swap');

* {
    margin: 0em;
    padding: 0em;
}


body {
    color: #e0e0e0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: #1e1e1e;
}

h1 {
    color: #ffffff;
}

a img {
    display: flex;
    width: 9em;
    margin-right: 37.8em;
    height: auto;
    padding: 0.7em;
    cursor: pointer;
    transition: 1s ease-in-out;
}

a img:hover {
    transform: rotateY(360deg);
}

li, a, button {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 0.9em;
    color: rgb(245, 245, 245);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1em 10em 1em 1em;
    padding: 0.5em;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    padding: 0em 0.6em;
}

ul li a {
    transition: all 0.3s ease 0s;
}

ul li a:hover {
    color: #99ff00;
}

header p {
    margin-left: 3em;
    padding: 0.5em 1em;
    background-color: transparent;
    border: solid 1px #99ff00;
    border-radius: 3em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #ffffff;
    font-weight: bold;
}

header p:hover {
    color: #000000;
    background-color: #99ff00;
}

section {
    text-align: left;
    padding: 1em;
    margin: 1em;
    background-color: #252525;
    padding-inline-start: 2em;
    padding-inline-end: 2em;
}


img {
    width: auto;
    height: 150px;
}


main {
    display: flex;
    justify-content: space-between;
    margin-left: 5em;
    margin-right: 5em;
}

main img {
    width: 100%;
    height: auto;
    display: block;
    justify-content: center;
}

h1 {
    margin: 0.5em;
}

section img {
    margin-top: 0.8em;
    margin-bottom: 1.2em;
}

section a {
    text-align: right;
    border: solid 1px #99ff00;
    border-radius: 3em;
    padding: 0.5em 1em 0.5em 1em;
    display: block;
    width: 29%;
    margin-left: auto;
    font-weight: bold;
}

section h2 {
    margin-bottom: 0.5em;
}

section p {
    margin-bottom: 2em;
}

section a:hover {
    color: #99ff00;
    border: solid 1px #ffffff;
}


.landingpage {
    margin: 10em 50em 0em 11em;
    padding: 0em;
    background-color: transparent;
    
}

.landingpage h2 {
    color: #99ff00;
    font-weight: bolder;
}


.landingpage p {
    margin-top: -17em;
    margin-bottom: 1em;
}

.landingpage p:last-child {
    margin-top: 0.5em;
}

.landingpage img {
    margin-left: 30.5em;
    height: 18em;
    width: auto;
    margin-top: -2em;
    border-radius: 2em;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #000000;
    margin-top: 20em;
    padding: 2em;
}


footer p {
    color: #797979;
    margin: 0em 1em 0em 1em;
    font-size: 0.8em;
}

footer a {
    color: #797979;
    margin: 0em 1em 0em 1em;
    font-size: 0.8em;
}

div p {
    margin-left: 8em;
    margin-right: 8em;
    padding-bottom: 2em;
    padding-top: 0.2em;
    font-size: 0.9em;
    color: #efefef;
}

div p:nth-child(1) {
    font-size: 1.1em;
    color: #e0e0e0;
}


div {
    background-color: #252525;
    margin-left: 15em;
    margin-right: 15em;
    padding-top: 2em;
    padding-bottom: 2em;
}

div a {
    padding: 0.5em 1em;
    background-color: transparent;
    border: solid 1px #99ff00;
    border-radius: 3em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #ffffff;
    font-weight: bold;
}

button:hover {
    color: #000000;
    background-color: #99ff00;
}

.contact {
    display: flex;
    justify-content: center;
    color: #8a8a8a;
}

.contact section {
   display: flex;
   justify-content: flex-start;
   align-content: center;
   flex-direction: column;
   padding: 0em;
   margin: 0.1em;
   background-color: transparent;
}

.contact section h4 {
    margin: 0.1em;
    background-color: #292929;
    padding: 0.5em 1em;
    padding-right: 5em;
    font-weight: normal;
}

.message {
    color: #8a8a8a;
    background-color: #292929;
    margin: 1em 27.7em;
    padding-bottom: 2em;
}

.message a {
    margin-top: 10em;
}

.message h4 {
    font-weight: normal;
    margin-left: -1em;
}

article {
    margin-left: 15em;
    margin-right: 15em;
    text-align: start;
    background-color: #292929;
    padding: 1.5em 3em;
}

article h1 {
    margin-left: 0em;
}

article p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.homebuttons {
    display: flex;
    color: #99ff00;
    background-color: transparent;
    padding-left: 9.4em;
}

.homebuttons p {
    margin: 0.5em;
    padding: 0.5em 1em;
    background-color: transparent;
    border: solid 1px #99ff00;
    border-radius: 3em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #ffffff;
    font-weight: bold;
}

.homebuttons p:last-child {
    margin: 0.5em;
    padding: 0.5em 1em;
    background-color: #99ff00;
    border: solid 1px #99ff00;
    border-radius: 3em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #000000;
    font-weight: bold;
}